@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Verse */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

/* Letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

/* Table */
table td:last-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

/* Envelope address */

#chapter-14 blockquote:first-of-type {
	text-align:center;
}

/* Newspaper headlines */

#chapter-7 blockquote:first-of-type,
#chapter-9 blockquote:first-of-type,
#chapter-26 blockquote:first-of-type {
	text-align:center;
	font-variant:small-caps;
}

